// 폰트 설정 --------------------------------------------


//포인트 폰트
//font-family: 'Chakra Petch', sans-serif;


//기본 폰트 : 눈누 (s-coredream)
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//기본 폰트 : 눈누 (야놀자)
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



// 변수 설정 --------------------------------------------


$pointcolor : #ebdfcb;
$subcolor : #F5F5F3;
/* #EFEBE4; */

$pointfont : 'Chakra Petch', sans-serif;
$mainfont : 'S-CoreDream-3Light';
$subfont : 'yg-jalnan';





// 기본세팅 --------------------------------------------
* { 
    margin: 0; padding: 0; 
    font-family: $mainfont;
    /* 드래그나 더블클릭 시에 텍스트가 선택이 되지 않도록 설정
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  */
}
li {list-style: none;}
a {text-decoration: none;cursor: pointer;color: black;}
button{cursor: pointer;}






// CSS 영역 --------------------------------------------

body {
    background-color: #fff;
    height: 3000px;
    min-width: 1280px;
    overflow-x: hidden;
}



.header_outer{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #707070;
    z-index: 9999;
    background-color: $subcolor;
    .header{
        display: flex;
        align-items:center;
        width: 1280px;
        height: 70px;
        margin: 0 auto;
        .logo{
            font-family: 'S-CoreDream-3Light';
            flex-grow: 1;
            text-align: center;
            font-size: 30px;
        }
    
        .lnb {
            flex-grow: 5;
            ul{
                display: flex;
                justify-content: space-around;
            }
        } 

        .contact_btn{
            flex-grow: 1;
            border: none;
            background-color: transparent;
            font-size: 20px;
            a{
                border: 1px solid #707070;
                padding: 5px 10px;
            }
        }
    }




}


.page_outer {


    
    .intro{
        height: 100vh;
        position: relative;
        font-size: 50px;
        margin: 0 auto;
        background: linear-gradient(to bottom, $subcolor 50% , $pointcolor 99%);

        .typing{
            font-family: $pointfont;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .typing::after {
          content: '';
          margin-left: 1rem;
          border-right: 1px solid #2e2d2d;
          animation: cursor 2s infinite steps(2);
        }
        .typed-cursor{
            display: none;
        }
        .scroll{
            position: absolute;
            bottom: 100px;
            left: 50%;
            transform: translate(-50%,0);
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 3px;
            color: #6e6b6b;
            animation: blink 1.5s infinite;
            i{
                color: black;
                animation: blink 1.5s infinite;
                @keyframes blink {
                    0%{opacity: 0;}
                    50%{opacity: 1;}
                    100%{opacity: 0;}
                    
                }
            }
        }
    }



    .page{
        text-align: center;
    }



    #about{
        position: relative;
        height: 2600px;
        background: linear-gradient(to bottom, #ebdfcb 50%, #fff 99%);
        #about_box{
            position: absolute;
            left: 50%;
            transform: translate(-50%,0);




            .visual_main{
                width: 1280px;
                margin: 0 auto;
                display: flex;
                width: 1000px;
                margin: 0 auto;
                padding-top: 300px;
                margin-bottom: 450px;
                .visual_main_img{
                    width: 30%;
                    margin-right: 10%;
                    position: relative;
                    img{
                        width: 250px;
                        height: auto;
                        display: block;
                        margin: 0 auto;
                        border-radius: 100px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
                }
                .visual_main_content{
                    width: 60%;
                    text-align-last: left;
                    position: relative;
                    .goals{
                        position: absolute;
                        top: -100px;
                        left: 100px;
                    }
                    h2{
                        line-height: 40px;
                        span{
                            color: rgb(226, 40, 40);
                        }
                    }
                    ul{
                        margin-top: 30px;
                        li{
                            font-size: 18px;
                            line-height: 40px;
                            i{
                                color: #2e2d2d;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }



            .flow_wrap{
                padding: 5px 0;
                font-size: 18px;
                font-weight:bold;
                font-style: italic;

                display: flex;
                flex: 0 0 auto; 
                white-space: nowrap;
                overflow: hidden;
                transition: all 0.3s;
                cursor: pointer;



                &:hover .flow_text {
                    animation-play-state: paused;
                  }
                  .flow_text {
                    padding-right: 10px;
                  }

            }

                        
            .flow_wrap01{
                margin-bottom: 50px;
                background-color: #e3cdcd;
                transform: rotate(0deg);


                &:hover{
                    background-color: #ecf6ce;
                }


                .flow_text {
                    animation: textLoop01 10s linear infinite;
                  }
                  
                  @keyframes textLoop01 {
                    0% {
                      -webkit-transform: translate3d(0, 0, 0);
                      transform: translate3d(0, 0, 0);
                    }
                    100% {
                      -webkit-transform: translate3d(-100%, 0, 0);
                      transform: translate3d(100%, 0, 0);
                    }
                  }

            }
            
            .flow_wrap02{
                margin-bottom: 50px;
                background-color: #cacb96;
                transform: rotate(0deg);

                &:hover{
                    background-color: #aeecac;
                }


                .flow_text {
                    animation: textLoop02 10s linear infinite;
                  }
                  
                  @keyframes textLoop02 {
                    0% {
                      -webkit-transform: translate3d(0, 0, 0);
                      transform: translate3d(0, 0, 0);
                    }
                    100% {
                      -webkit-transform: translate3d(-100%, 0, 0);
                      transform: translate3d(-100%, 0, 0);
                    }
                  }

            }

            .flow_wrap03{
                margin-bottom: 50px;
                background-color: #d6d5ea;
                transform: rotate(0deg);

                &:hover{
                    background-color: #ead1f3;
                }


                .flow_text {
                    animation: textLoop03 10s linear infinite;
                  }
                  
                  @keyframes textLoop03 {
                    0% {
                      -webkit-transform: translate3d(0, 0, 0);
                      transform: translate3d(0, 0, 0);
                    }
                    100% {
                      -webkit-transform: translate3d(-100%, 0, 0);
                      transform: translate3d(100%, 0, 0);
                    }
                  }

            }

            .flow_wrap04{
                margin-bottom: 50px;
                background-color: #f4f4be;
                transform: rotate(0deg);

                &:hover{
                    background-color: #e7fac4;
                }


                .flow_text {
                    animation: textLoop04 10s linear infinite;
                  }
                  
                  @keyframes textLoop04 {
                    0% {
                      -webkit-transform: translate3d(0, 0, 0);
                      transform: translate3d(0, 0, 0);
                    }
                    100% {
                      -webkit-transform: translate3d(-100%, 0, 0);
                      transform: translate3d(-100%, 0, 0);
                    }
                  }

            }










            .info_tap_menu{
                margin-top: 300px;
                h3{
                    margin-bottom: 100px;
                }
                ul{
                    width: 1280px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                    li{
                        width: 250px;
                        height: 250px;
                        cursor: pointer;
                        overflow: hidden;
                        position: relative;


                        img{
                            width: 100%;
                            height: 100%;
                            display: block;
                        }
                        .text{
                            position: absolute;
                            top:  0px;
                            background-color: #020202b6;
                            width: 100%;
                            height: 100%;
                            transition: all 1s;
                            color: white;
                            font-weight: bold;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            p{
                                display: flex;
                                justify-content: center;
                                align-items: center;

                            }
                        }

                    }


                    }

                }


            .info_tap{
                border: 1px solid #000;
                width: 1280px;

                margin: 100px auto 0;
                .tap{
                    display: none;
                    position: relative;
                    padding: 30px;
                    height: 400px;
                    p{
                        font-size: 20px;
                        border: 1px solid #000;
                    }




                    .arrow01{
                        width: 114px;
                        transform: rotate(22deg);
                        position: absolute;
                        top: -120px;
                        left: 0;
                    }
                    .arrow02{
                        width: 114px;
                        transform: rotate(37deg);
                        position: absolute;
                        top: -120px;
                        left: 400px;
                    }
                    .arrow03{
                        width: 114px;
                        transform: scaleX(-1) rotate(35deg);
                        position: absolute;
                        top: -120px;
                        left: 807px;
                    }
                    .arrow04{
                        width: 114px;
                        transform: scaleX(-1) rotate(35deg);
                        position: absolute;
                        top: -120px;
                        right: 0;
                    }



                }

                .active{
                    display: block;
                }
            }




        }
    }


    #profile{
        padding-top: 150px;
        background-color: #fff;
        padding-bottom: 200px;
        #main{

            .main_wrap{
                width: 1000px;
                margin: 0 auto;
                background-color: $pointcolor;
                padding: 50px;
                position: relative;
                .tape{
                    transform: rotate(0deg);
                    position: absolute;
                    top: -140px;
                    left: 420px;
                }
            .main_content{
                display: flex;  
                justify-content: space-evenly;
                font-size: 14px;
                .main_box{
                    width: 400px;
                    height: 300px; 
                }
                h3{
                    font-family: $pointfont;
                    font-size: 30px;
                    margin-bottom: 20px;
                }
                ul{
                }
            }

            .main_top{
                margin-bottom: 50px;

                .main01{
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: auto;
                        display: block;
                    }
                }

                .main02{

                    ul{
                        display: flex;
                        justify-content: space-around;
                        li{
                            width: 70%;
                            text-align: left;
                            div{
                                margin-top: 15px;
                            }
                        }
                        .bold{
                            width: 30%;
                            font-weight: bold;
                        }
                    }
                }
            }

            .main_bottom{


                    ul{
                        text-align-last: left;
                        li{
                            margin-top: 30px;
                        }
                    }

            }


            }
            .resume{
                font-weight: bold;
                text-decoration: underline; 
            }
        }









        #ask{
            padding-top: 200px;
            width: 800px;
            margin: 0 auto;

            .ask_wrap{
                display: flex;
                justify-content: space-between;

                .ask_title{
                    h1{
                        font-size: 80px;
                        margin-bottom: 100px;
                        margin-top: 100px;
                        background-color: $pointcolor;
                        width: 200px;height: 100px;
                        text-align: center;
                        line-height: 100px;
                    }
                    p{
                        font-size: 20px;
                    }
                }

                img{
                    width: 100%;
                }
                .swiper {
                    width: 500px;
                    height: 400px;margin: 0;
                    .swiper-slide {
                        border-radius: 0px;
                        font-size: 22px;
        
                        border: 3px solid #000;
                        background-color: #fff;
        
                        .text_box{
        
                            .ask_text{
                                text-align: center;
                                font-weight: bold;
                                background-color: $pointcolor;
                            }
                            .answer_text{
                                background-color: #fff;
                            }
                        }
        
                      }
                  }
              
            }



          
        }
    }

    #skils{
        background-color: #fff;
        padding-top: 200px;


        .wave {
            position: relative;
            width: 100%;
            margin-bottom: -7px; /*Fix for safari gap*/
            max-height: 150px;
            
            /* Animation */
        .parallax > use {
            animation: move-forever 25s cubic-bezier(0.55,.5,0.45,.5) infinite;
        }
        .parallax > use:nth-child(1) {
            animation-delay: -2s;
            animation-duration: 7s;
        }
        .parallax > use:nth-child(2) {
            animation-delay: -3s;
            animation-duration: 10s;
        }
        .parallax > use:nth-child(3) {
            animation-delay: -4s;
            animation-duration: 13s;
        }
        .parallax > use:nth-child(4) {
            animation-delay: -5s;
            animation-duration: 20s;
        }
        @keyframes move-forever {
            0% {
                transform: translate3d(-90px, 0, 0);
            }
            100% {
                transform: translate3d(85px, 0, 0);
            }
        }
        /*Shrinking for mobile*/
        @media(max-width: 768px) {
            .waves {
                height: 40px;
                min-height: 40px;
            }
        }
        }


        .wave02 {

            transform: scaleY(-1);
        }






        .skils_box_outer{
            background-color: $pointcolor;
            .skils_box{
                width: 1100px;
                margin: 0 auto;
                position: relative;

                h5{
                    position: absolute;
                    top: -150px;
                    left: 50%;
                    transform: translate(-50%,0);
                    font-size: 50px;
                    font-family: $pointfont;
                    font-style: italic;
                }


                .skils_content{
                    ul{
                        display: flex;
                        li{
                            width: 50%;
                            height: 260px;
                            padding: 20px;
                            p{
                                font-size: 20px;
                                text-align: center;
                                margin-bottom: 30px;
                                font-family: $pointfont;
                                letter-spacing: 2px;
                            }

                            .progress_box{
                                display: flex;
                                align-items: center;
                                margin-top: 30px;
                                img{
                                    display: block;
                                    width: 45px;
                                    margin-right: 20px;

                                }
                                .progressbar {
                                    width: 100%;
                                    height: 15px;
                                    background-color: #c7c7c5;
                                    border-radius: 20px;
                                    margin-right: 20px;
                                  }
                                  
                                .progress {
                                    width: 0%;
                                    height: 15px;
                                    background-color: rgb(75, 77, 75);
                                    border-radius: 20px;
                                  }
                                .num{
                                    font-weight: bold;
                                    font-size: 13px;
                                  }
                                  
                            }

                            .icon{
                                display: flex;
                                justify-content: space-between;
                                li{
                                    height: auto;
                                    img{
                                        width: 50px;
                                    }
                                    p{
                                        font-size: 15px;
                                        font-weight: bold;
                                    }
                                }
                            }


                            
                             
                        }
                    }
                }
            }
        }


        
    }


    #works{
        height: 100vh;
        background: linear-gradient(to right, $pointcolor 20%, #fff 70%);


        .works_outer{
            width: 1280px;
            margin: 0 auto;
            display: flex;

            .works_tapmenu_box{
                width: 35%;
                height: 100vh;
                background-color: $pointcolor;
                .works_tapmenu{
                margin-top: 200px;
                p{
                    text-align: left;
                    margin-bottom: 20px;
                }
                h1{
                    text-align: left;
                    font-family: $pointfont;
                    font-weight: lighter;
                    font-size: 40px;
                    margin-bottom: 80px;
                }
                ul{
                    li{
                        text-align: left;
                        margin-bottom: 60px;
                        font-size: 15px;
                        span{
                            cursor: pointer;
                        }
                    }
                    .active{
                        font-weight: bold;
                    }
                }
            }   
            }



            .works_tap_box{
                width: 60%;
                height: 100vh;
                background-color: #fff;
                .works_tap{
                    margin: 100px 0;

                ul{
                    .works_tap{
                        height: 0;
                        opacity: 0;
                        transition: all 0.3s;
                    }
                    .active{
                        opacity: 1;
                        height: 100%;
                    }
                    
                    .tap01{

                        .mockup_box{
                            width: 500px;
                            height: 350px;
                            border: 1px solid #000;
                            margin: 0 auto;
                        }

                        .info_box{
                            width: 500px;
                            margin: 0 auto;
                            .title{
                                font-family: $subfont;
                                font-size: 20px;
                                margin-top: 20px;
                            }
                            .comment{
                                text-align: left;
                                font-size: 14px;
                                margin-top: 20px;
                                margin-bottom: 20px;
                                line-height: 25px;
                            }

                            .plan{
                                text-align: left;
                                margin-bottom: 5px;
                                font-size: 15px;
                            }

                            h3{
                                font-weight: bold;
                                text-align: left;
                                margin-top: 20px;
                            }
                            .color_plan{
                                margin-top: 20px;
                                margin-bottom: 20px;
                                display: flex;

                                .color{
                                    width: 80px;
                                    text-align: center;

                                    .view{
                                        width: 40px;
                                        height: 40px;
                                        border-radius: 50px;
                                        margin-bottom: 10px; 
                                        margin-left: 20px;  

                                    }
                                    .view01{background-color: #F68514;}
                                    .view02{background-color: #EFD6A1;}
                                    .view03{background-color: #C5C2BB;}
                                    p{
                                        font-size: 11px;
                                    }
                                }
                            }

                        }

                        .url_box{
                            button{
                                border: none;
                                width: 140px;
                                height: 40px;
                                margin-right: 20px;
                                letter-spacing: 2px;
                                font-weight: bold;
                                color: #2e2d2d;
                                &:hover{
                                    background-color: $pointcolor;
                                    color: black;

                                }
                            }
                        }


                    }

                    .tap02{background-color: red;}
                    .tap03{background-color: yellowgreen;}
                    .tap04{background-color: green;}




                }
            }
        }
            }

    }








    .contact{
        height: 100vh;
        text-align: center;
        border: 1px solid #000;
        background-color: $pointcolor;
        .title{
            margin-top: 150px;
            margin-bottom: 50px;
            font-family: $pointfont;
            font-size: 50px;
            font-weight: 100;
            letter-spacing: 5px;
        }
        .contact_box{
            width: 1000px;
            height: 500px;
            margin: 0 auto; 
            background-color: #fff;
            ul{
                display: flex;
                width: 800px;
                margin: 0 auto;
                padding-top: 70px;
                .left{
                    width: 30%;
                    margin-right: 30%;
                    img{
                        width: 350px;
                        height: auto;
                        display: block;
                        border-radius: 180px 180px 0 0;
                    }
                }
                .right{
                    border: 1px solid #000;
                    h5{
                        font-family: $subfont;
                        font-size: 25px;
                    }
                }
            }

        }

        .text01{
            font-weight: bold;
            margin-top: 40px;
        }
        .text02{
            font-size: 13px;
            margin-top: 40px;
        }
        .text03{
            font-size: 13px;
        }

    }
}






.scroll_btns{
    position: fixed;
    right: 100px;
    bottom: 100px;
    .scroll_btn{
        border: none;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        background-color: $pointcolor;
    }
}   